<ul>
  <% if @tag -%>
    <li><%= link_to sprite_icon('edit', l(:button_edit)), edit_tag_path(@tag),
            :class => 'icon icon-edit' %></li>
  <% else %>
    <li><%= link_to sprite_icon('tag-merge', l(:issue_tags_button_merge), plugin: :redmineup_tags), merge_tags_path(:ids => @tags.collect(&:id)),
            :class => 'icon icon-tags-merge' %></li>
  <% end %>

    <li><%= link_to sprite_icon('del', l(:button_delete)), tags_path(:ids => @tags.collect(&:id), :back_url => @back),
                            :method => :delete, :data => {:confirm => l(:text_are_you_sure)}, :class => 'icon icon-del' %></li>
</ul>
